<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ToDoリスト</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <h1>ToDo リスト</h1>
    <label>ジャンル</label>
    <select v-model="selectedGenre">
      <option v-for="genre in genres" :value="genre">{{genre}}</option>
    </select>
    <br><br>
    <select>タスク</select>
    <textarea v-model="task"></textarea>
    <br><br>
    <button>追加</button>
    <hr>
  </div>

  <script>
    new Vue({
      el:'#app',
      data:{
        genres:[
          "事務作業",
          "会議",
          "商談"
        ]
      }
    })
  </script>
</body>
</html>