<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ToDoリスト</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <h1>ToDo リスト</h1>
    <label>ジャンル</label>
    <select v-model="selectedGenre">
      <option v-for="genre in genres" :value="genre">{{genre}}</option>
    </select>
    <br><br>
    <label>タスク</label>
    <textarea v-model="task"></textarea>
    <br><br>
    <button @click="addTask" :class="{inactive:isBlank}">追加</button>
    <hr>
    <task-component
      v-for="(task,index) in taskList"
      :task-name="task.taskName"
      :date="task.date"
      :genre="task.genre"
      :index="index"
    ></task-component>
  </div>


  <script>
    Vue.component('task-component',{
      props:['taskName','date','genre','index'],
      template:`
        <div class="taskarea">
          ジャンル：{{genre}}
          <br>タスク：{{taskName}}
          <br>投稿日時：{{date}}
          <br><button>削除</button>
          <button>完了</button>
          <button>完了取消</button>
        </div>
      `
    })

    new Vue({
      el:'#app',
      data:{
        genres:[
          "事務作業",
          "会議",
          "商談"
        ],
        task:'',
        selectedGenre:'',
        taskList:[]
      },
      computed:{
        isBlank:function(){
          return this.task==="" || this.selectedGenre===""
        }
      },
      methods:{
        //ボタンクリック時にtaskListに格納
        addTask:function(){
          const day=new Date();

          this.taskList.push({
            'taskName':this.task,
            'genre':this.selectedGenre,
            'date': day.toLocaleString('ja-JP')
          });
          //追加後のタスク内のコメントを空にする
          this.task="";
        }
      }
    })
  </script>

  <style>
    .inActive {
      pointer-events: none;
      color: gray;
    }
    .taskarea {
      margin-left: 10px;
      margin-bottom: 10px;
      background-color:#fafad2;
      padding: 10px 10px 10px 10px;
    }
    .completed{
      text-decoration: line-through;
    }
  </style>
</body>
</html>